:root, [data-bs-theme=light] {
  --bs-primary: #0891b2;
  --bs-primary-rgb: 8,145,178;
  --bs-primary-text-emphasis: #034559;
  --bs-primary-bg-subtle: #cff3f9;
  --bs-primary-border-subtle: #9fe7f3;
  --bs-secondary: #8b5cf6;
  --bs-secondary-rgb: 139,92,246;
  --bs-secondary-text-emphasis: #382562;
  --bs-secondary-bg-subtle: #ebe5fe;
  --bs-secondary-border-subtle: #d6cbfc;
  --bs-info: #06b6d4;
  --bs-info-rgb: 6,182,212;
  --bs-info-text-emphasis: #024955;
  --bs-info-bg-subtle: #cdf5fb;
  --bs-info-border-subtle: #9bebf7;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #0891b2;
  --bs-btn-border-color: #0891b2;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0e7490;
  --bs-btn-hover-border-color: #0e7490;
  --bs-btn-focus-shadow-rgb: 8,145,178;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0e7490;
  --bs-btn-active-border-color: #0e7490;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0891b2;
  --bs-btn-disabled-border-color: #0891b2;
}

.btn-outline-primary {
  --bs-btn-color: #06b6d4;
  --bs-btn-border-color: #06b6d4;
  --bs-btn-focus-shadow-rgb: 6,182,212;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #06b6d4;
  --bs-btn-hover-border-color: #06b6d4;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #06b6d4;
  --bs-btn-active-border-color: #06b6d4;
  --bs-btn-disabled-color: #06b6d4;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #06b6d4;
}

.btn-secondary {
  --bs-btn-color: #ffffff;
  --bs-btn-bg: #8b5cf6;
  --bs-btn-border-color: #8b5cf6;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #7c3aed;
  --bs-btn-hover-border-color: #7c3aed;
  --bs-btn-focus-shadow-rgb: 139,92,246;
  --bs-btn-active-color: #ffffff;
  --bs-btn-active-bg: #7c3aed;
  --bs-btn-active-border-color: #7c3aed;
  --bs-btn-disabled-color: #ffffff;
  --bs-btn-disabled-bg: #8b5cf6;
  --bs-btn-disabled-border-color: #8b5cf6;
}

.btn-outline-secondary {
  --bs-btn-color: #8b5cf6;
  --bs-btn-border-color: #8b5cf6;
  --bs-btn-focus-shadow-rgb: 139,92,246;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #8b5cf6;
  --bs-btn-hover-border-color: #8b5cf6;
  --bs-btn-active-color: #ffffff;
  --bs-btn-active-bg: #8b5cf6;
  --bs-btn-active-border-color: #8b5cf6;
  --bs-btn-disabled-color: #8b5cf6;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #8b5cf6;
}

.btn-info {
  --bs-btn-color: #fff;
  --bs-btn-bg: #06b6d4;
  --bs-btn-border-color: #06b6d4;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0891b2;
  --bs-btn-hover-border-color: #0891b2;
  --bs-btn-focus-shadow-rgb: 6,182,212;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0891b2;
  --bs-btn-active-border-color: #0891b2;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #06b6d4;
  --bs-btn-disabled-border-color: #06b6d4;
}

.btn-outline-info {
  --bs-btn-color: #06b6d4;
  --bs-btn-border-color: #06b6d4;
  --bs-btn-focus-shadow-rgb: 6,182,212;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #06b6d4;
  --bs-btn-hover-border-color: #06b6d4;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #06b6d4;
  --bs-btn-active-border-color: #06b6d4;
  --bs-btn-disabled-color: #06b6d4;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #06b6d4;
}

